nav > a:hover {
    background-color: white;
    color: black;
}

nav > a.current-page-link {
    color: black;
    background: white;
}

nav > a {
    color: white;
    display: flex;
    align-items: center;
}

#spinner {
    /* display spinner covering the whole viewport */
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    /* hide the spinner initially */
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3); /* partially transparent black */
    /* centering spinner */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TODO: commments */
/* TODO: review */
.queue-reorder-controls {
    padding-top: 0.125em !important;
    padding-bottom: 0 !important;

    /* gap between the arrows */
    display: grid;
    gap: 1px;
}

.queue-reorder-controls > i {
    padding: 0; /* clear default Bootstrap button size */
}

.queue-reorder-controls > i.disabled {
    color: lightgray;
    border: 1px solid lightgray;
    background-color: white;
}

.swap-member-list-container {
    display: flex; /* row layout */
    justify-content: space-around; /* visual spacing */
    align-items: center; /* align content vertically */
}

.swap-member-list-container > div {
    /* members are displayed as a list */
    display: flex;
    flex-direction: column;

    /* visual spacing */
    padding: 1em;
    margin: 2em;
    min-width: 30%;

    /* comfy round borders */
    border: 1px solid gray;
    border-radius: 10px;
}

.edit-queue-controls {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: 3fr 5fr auto 2fr;
    grid-template-areas:
        "textbox save-button . swap-page-link"
        "hint    .           . ."
        ".       .           . ."
        "chat-id .           . ."
    ;
}

#login-widget-container {
    /* center the widget horizontally and vertically somewhere around the top */
    display: grid;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

/* Highlight whether we are dropping above the row or below it */
.drop-to-upper-half {
    background-image: linear-gradient(to bottom, lightgreen, transparent 30%);
}

.drop-to-lower-half {
    background-image: linear-gradient(to top, lightgreen, transparent 30%);
}

.pagination-container {
    display: flex;
    column-gap: 5px;
    justify-content: center;
}

header {
    display: grid;
    background-color: #0d6efd;
    margin: 0 -12px;
}

header > .logo > img {
    width: 64px;
    height: 64px;
}

header > a {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logs-table {
    table-layout: fixed;
    overflow-wrap: break-word;
}

.queues-table {
    overflow-wrap: break-word;
    table-layout: fixed;
}

@media (min-width: 576px) {
    header {
        grid-template-areas: "logo nav";
        grid-template-columns: auto 1fr;
        column-gap: 40px;
        padding: 0 2em;
    }

    header > i {
        display: none;
    }

    header > a {
        font-size: 1.75em;
    }

    header > nav {
        display: flex;
    }

    header > nav a {
        padding: 0 10px;
        font-size: 1.5em;
    }

    header > nav > div {
        display: flex;
        align-items: center;
    }

    header > .logo > img {
        padding: 0.25em;
    }

    main {
        margin: 1em 5em;
    }

    .queue-controls {
        display: flex;
        column-gap: 10px;
    }

    .mobile-only {
        display: none;
    }

    .id-column {
        width: calc(100%/12);
    }

    .name-column {
        width: calc(500%/12);
    }

    .last-updated-on-column {
        width: calc(150%/12);
    }

    .chat-id-column {
        width: calc(300%/12);
    }

    .number-of-members-column {
        width: calc(100%/12);
    }

    .queue-controls-column {
        width: 110px;
    }

    .edit-queue-hint {
        visibility: hidden;
    }
}

.queues-table{
    overflow-wrap: break-word;
    table-layout: fixed;
}

@media (max-width: 576px) {
    header {
        padding: 1rem;
        grid-template-areas:
                "logo burger"
                "nav nav";
    }

    header > nav {
        height: 0;
        padding-top: 10px;
        margin: 0 -1em -0.5em;
        transition: height .2s ease;
        overflow: hidden;
    }

    header > i {
        grid-area: burger;
        justify-self: end;
        align-self: center;
        color: white;
        font-size: 2em;
    }

    header > nav a {
        font-size: 1.25em;
    }

    header > a {
        font-size: 1.5em;
    }

    header > nav > a {
        display: block;
        padding: 0.5em 1em;
    }

    nav > a:hover,
    nav > a.current-page-link {
        color: black;
        background-color: white;
    }

    nav > a {
        color: white;
    }

    .queues-table {
        font-size: 0.75em;
    }

    .desktop-only {
        display: none;
    }

    .queues-table td,
    .queues-table th {
        text-align: center;
        vertical-align: middle;
    }

    .queue-controls {
        display: flex;
        row-gap: 10px;
        flex-direction: column;
    }

    main {
        margin: 1em 0;
    }

    .logs-table {
        font-size: 0.8em;
    }

    .last-updated-on-column {
        width: 90px;
    }

    .number-of-members-column {
        width: 60px;
    }

    .queue-controls-column {
        width: 50px;
    }

    .swap-page-link-button {
        justify-self: end;
        align-self: center;
    }

    .edit-queue-controls {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "textbox textbox save-button"
            "hint    hint           ."
            "chat-id swap-page-link           swap-page-link"
        ;
    }

    .mobile-font-size {
        font-size: 0.8em;
    }

    .edit-queue-hint {
        visibility: hidden;
        margin: 5px 0 20px;
    }

    .swap-member-list-container.mobile-only {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0.5em 0;
    }

    .swap-member-list-container > * {
        margin: 0.25em 0;
    }

    .swap-member-list-container > i {
        align-self: center;
    }

    .swap-member-list-container > select {
        padding: 5px;
    }
}