nav > div:hover,
nav > div.current-page-link {
    background-color: white;
}

nav > div:hover > a,
nav > div.current-page-link > a {
    color: black;
}

nav > div > a {
    color: white;
}

.spinner {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
}
