{% extends "layout.html" %}
{% block content %}
<div><h2>{{ queue.name|e }} (ID {{ queue.id }})</h2></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-2">
                    User ID
                </th>
                <th class="col-3">
                    Name
                </th>
                <th class="col-4">
                    Crossed Out
                </th>
            </tr>
        </thead>
        <tbody>
            {% for queue_member in queue_members %}
                <tr>
                    <td>{{ queue_member.id }}</td>
                    <td>{{ queue_member.user_info.get_formatted_name()|e }}</td>
                    <td><input class="form-check-input ms-2" type="checkbox" {{ queue_member.crossed and "checked" }} onclick="setMemberCrossedOut({{ queue.id }}, {{ queue_member.user_id }}, {{ (not queue_member.crossed)|int }})"></td>
                    <td>
                        <i class="bi bi-trash-fill btn btn-danger" onclick='deleteMember({{ queue.id }}, {{ queue.name|tojson }}, {{ queue_member.user_info.get_formatted_name()|tojson }}, {{ queue_member.user_id }})'></i>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}