<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>NureQ Admin</title>
        {% block head %}
        {% endblock head %}
    </head>

    <body class="container-fluid">
        <div id="spinner">
            <div class="spinner-border text-primary center-block"></div>
        </div>
        <header>
            <a class="link-light text-decoration-none logo" style="grid-area: logo" href="{{ url_for('root') }}">
                <img class="rounded-circle img-fluid" src="{{ url_for('static', filename='logo.jpg') }}">
                <div>NureQ Admin</div>
            </a>
            <i class="bi bi-list" style="grid-area: burger" onclick="handleBurgerMenu()"></i>
            <nav style="grid-area: nav">
                <a
                    class="{{
                        'current-page-link'
                        if request.path.startswith('/queues') or request.path == '/'
                        else ''
                    }} text-decoration-none"
                    href="{{ url_for('queues') }}"
                >
                    Очереди
                </a>
                <a
                    class="{{
                        request.path == url_for('logs') and 'current-page-link'
                    }} text-decoration-none"
                    href="{{ url_for('logs') }}"
                >
                    Логи
                </a>
                <a
                    class="{{
                        request.path == url_for('login') and 'current-page-link'
                    }} text-decoration-none"
                    href="{{ url_for('logout') if current_user.is_authenticated else url_for('login') }}"
                >
                    {{ "Выйти" if current_user.is_authenticated else "Войти" }}
                </a>
            </nav>
        </header>
        <main class="container">
            {% block content %}
            {% endblock content %}
        </main>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>

