{% extends "layout.html" %}
{% block content %}
    <table class="table table-striped logs-table">
        <thead>
            <tr>
                <th class="col-1 desktop-only">ID</th>
                <th class="col-1 desktop-only">Уровень</th>
                <th class="col-1 desktop-only">Время</th>
                <th class="col-3 mobile-only">Уровень Время</th>
                <th class="col-9">Сообщение</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr class="desktop-only">
                    <td>{{ log.id }}</td>

                    {% if log.level == "INFO" %}
                        <td class="fw-bold text-info">{{ log.level }}</td>
                    {% elif log.level == "WARN" %}
                        <td class="fw-bold text-warning">{{ log.level }}</td>
                    {% elif log.level == "ERROR" %}
                        <td class="fw-bold text-danger">{{ log.level }}</td>
                    {% endif %}

                    <td>{{ log.get_formatted_timestamp() }}</td>

                    <td>{{ log.message }}</td>
                </tr>
                <tr class="mobile-only">
                    <td class="fw-bold">
                        {% if log.level == "INFO" %}
                            <span class="text-info">
                                {{ log.level }}
                            </span>
                        {% elif log.level == "WARN" %}
                            <span class="text-warning">
                                {{ log.level }}
                            </span>
                        {% elif log.level == "ERROR" %}
                            <span class="text-danger">
                                {{ log.level }}
                            </span>
                        {% endif %}
                        {{ log.get_formatted_timestamp() }}
                    </td>
                    <td>{{ log.message }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
