{% extends "layout.html" %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-2">
                    ID
                </th>
                <th class="col-3">
                    Name
                </th>
                <th class="col-4">
                    Last Modified
                </th>
                <th>
                    Number of Members
                </th>
            </tr>
        </thead>
        <tbody>
            {% for queue in queues %}
                <tr>
                    <td>{{ queue.id }}</td>
                    <td>{{ queue.name|e }}</td>
                    <td>{{ queue.get_formatted_last_updated_on() }}</td>
                    <td>{{ queue.number_of_members }}</td>
                    <td><i class="bi bi-trash-fill btn btn-danger" onclick="deleteQueue({{ queue.id }})"></i></td>
                    <td><a href="{{ url_for('edit_queue', id=queue.id) }}"><i class="bi bi-pencil-square btn btn-info"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
