{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript" async src="{{ url_for('static', filename='queues.js') }}"></script>
{% endblock head %}
{% block content %}
    <table class="table table-striped queues-table">
        <thead>
            <tr>
                <th class="desktop-only id-column">ID</th>
                <th class="name-column">Имя</th>
                <th class="last-updated-on-column">Обновлено</th>
                <th class="desktop-only">Chat ID</th>
                <th class="number-of-members-column">Кол-во</th>
                <th class="queue-controls-column"></th>
            </tr>
        </thead>
        <tbody>
            {% for queue in queues %}
                <tr>
                    <td class="desktop-only name-column">{{ queue.id }}</td>
                    <td class="name-column">{{ queue.name|e }}</td>
                    <td class="last-updated-on-column">{{ queue.get_formatted_last_updated_on() }}</td>
                    <td class="desktop-only">{{ queue.chat_id }}</td>
                    <td class="number-of-members-column">{{ queue.number_of_members }}</td>
                    <td class="queue-controls-column">
                        <div class="mb-1 queue-controls">
                            <span>
                                <i class="bi bi-trash-fill btn btn-danger" onclick="deleteQueue({{ queue.id }})"></i>
                            </span> {# Otherwise button will try to expand unexpectedly #}
                            <a href="{{ url_for('edit_queue', id=queue.id) }}"><i class="bi bi-pencil-square btn btn-info"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "_pagination.html" %}
{% endblock content %}
