{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript" async src="{{ url_for('static', filename='queues.js') }}"></script>
{% endblock head %}
{% block content %}
    <table class="table table-striped queues-table">
        <thead>
            <tr>
                <th class="col-2 desktop-only">ID</th>
                <th class="col-3">Имя</th>
                <th class="col-4">Обновлено</th>
                <th class="desktop-only">Chat ID</th>
                <th>Участников</th>
            </tr>
        </thead>
        <tbody>
            {% for queue in queues %}
                <tr>
                    <td class="desktop-only">{{ queue.id }}</td>
                    <td>{{ queue.name|e }}</td>
                    <td>{{ queue.get_formatted_last_updated_on() }}</td>
                    <td class="desktop-only">{{ queue.chat_id }}</td>
                    <td>{{ queue.number_of_members }}</td>
                    <td>
                        <div class="mb-1">
                            <i class="bi bi-trash-fill btn btn-danger" onclick="deleteQueue({{ queue.id }})"></i>
                        </div>
                        <div>
                            <a href="{{ url_for('edit_queue', id=queue.id) }}"><i class="bi bi-pencil-square btn btn-info"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination-container">
        {% if current_page > 3 %}
            <a href="{{ url_for('queues', page=1) }}" type="button" class="btn btn-outline-primary">1</a>
        {% endif %}
        {% if current_page > 5 %}
            <div type="button" class="btn btn-outline-secondary disabled">...</div>
        {% elif current_page == 5 %}
            <a href="{{ url_for('queues', page=2) }}" type="button" class="btn btn-outline-primary">2</a>
        {% endif %}
        {% for i in range([current_page-2, 1]|max, [current_page+3, max_page + 1]|min) %}
            <a href="{{ url_for('queues', page=i) }}" type="button" class="btn {{ 'btn-primary' if i == current_page else 'btn-outline-primary' }}">{{ i }}</a>
        {% endfor %}
        {% if current_page < max_page - 4 %}
            <div type="button" class="btn btn-outline-secondary disabled">...</div>
        {% elif current_page == max_page - 4 %}
            <a href="{{ url_for('queues', page=max_page - 1) }}" type="button" class="btn btn-outline-primary">{{ max_page - 1 }}</a>
        {% endif %}
        {% if current_page < max_page - 2 %}
            <a href="{{ url_for('queues', page=max_page) }}" type="button" class="btn btn-outline-primary">{{ max_page }}</a>
        {% endif %}
    </div>
{% endblock content %}
